<!--https://emberigniter.com/handlebars-access-array-value-with-index/-->
<!--https://handlebarsjs.com/block_helpers.html-->
<h3>List of Ingredients for {{title}}</h3>
<ul>
    {{#each ingredients}}
        <li>
<label for="complete"></label>
        {{#if complete}}
            <input  class="checks" type="checkbox" checked>
        {{else}}
<input class="checks" type="checkbox" >
        {{/if}}
        {{splitIngredients this}}</li>
    {{/each}}
</ul>

<a href="/{{this.id}}" class='link'>Back to Recipe</a>

