<h3>New Recipe:</h3>
<form action="/" method="POST">
<label for="">Recipe Title
<input type="text" name="title"required placeholder="*required*"></label>

<label for="">description</label>
<input type="text" name="description">

<label for="">Ingredients</label>
<input type="text" name="ingredients"required placeholder="*required*">
<label for="">Instructions</label>
<input type="text" name="instructions"required placeholder="*required*">

<input type="submit" value="Add to book">
</form>