<h3>New Recipe:</h3>
<form action="/" method="POST">
<label for="">Recipe Title</label>
<input type="text" class='input' name="title"required placeholder="*required*">

<label for="">description</label>
<input type="text" class='input' name="description">

<label for="">Ingredients</label>
<input type="text" class='input' name="ingredients"required placeholder="*required*">
<label for="">Instructions</label>
<input type="text" class='input' name="instructions"required placeholder="*required*">

<input type="submit" class="button" value="Add to book">
</form>