
body{
    font-size: 50px;
}
h2, h3, h4 {
    background-color: rgba(0, 0, 75, 0.76);
    color: #f5deb3;
}
h1{
    font-family: 'Permanent Marker', cursive;
    background-color: #00004b;
    color: #f5deb3;
    text-align: center;
    font-size: 80px;
}
h2 {
    font-family: 'Chewy', cursive;
    text-align: center;
    font-size: 65px;
}
h3 {
    font-family: 'Chelsea Market', cursive;
    text-align: center;
    font-size: 55px;
}
h4, label{
    font-family: 'Chelsea Market', cursive;
    margin: 0 40px;
    /* margin-right: 40px; */
    font-size: 40px;
}
h4 a {
    color: #f5deb3;
    margin-left: 0;
}
h6 {
    margin:40px 0 0 40px;
    display: block;
    font-family: 'Permanent Marker', cursive;
    color: #00004b;
    
}
a {
    font-family: 'Chelsea Market', cursive;
    text-decoration: none;
    color: #00004b;
    margin-left: 40px;
}
li {
    font-family: 'Chelsea Market', cursive;
    color: #00004b;
    list-style: none;
}
.checks {
    height: 40px;
    width: 40px;
    margin: 5px;
}
form {
    display: inline-flex;
    flex-wrap: wrap;
    max-width: 350px;
}
h4 a:hover {
    color: mediumpurple;
}
.recipe-items {
    display: block;
    flex-wrap: wrap;
    max-width: 450px;
    font-family: 'Chelsea Market', cursive;
    color: #00004b;
}
.input-title {
    padding: 15px;
    font-size: 30px;
    height: 40px;
    width: 400px;
    margin-left: 40px;
    margin-bottom: 40px;
    word-wrap: break-word;
}
.input {
    align-content: unset;
    color: #00004b;
    padding: 15px;
    font-size: 30px;
    height: 200px;
    width: 400px;
    margin-left: 40px;
    margin-bottom: 40px;
    word-wrap: break-spaces;
}
.input [type=text] {
    text-align: start;
}
ul {
    padding: 0;
}
.button{
    height: 350px;
    width: 150px;
    font-size: 100px;
    font-family: 'Chelsea Market', cursive;
    padding: 30px;
    margin: 30px;
    display: block;
    left: 40%;
}
.link{
    display: block;
}
